In [29]:
import pandas as pd
import matplotlib.pyplot as plt

In [30]:
data = pd.read_csv("Fraud_check.csv")

In [31]:
data.head()

,Undergrad,Marital.Status,Taxable.Income,City.Population,Work.Experience,Urban
0,NO,Single,68833,50047,10,YES
1,YES,Divorced,33700,134075,18,YES
2,NO,Married,36925,160205,30,YES
3,YES,Single,50190,193264,15,YES
4,NO,Married,81002,27533,28,NO

In [32]:
df=pd.DataFrame(data) # Defining The data frame

In [33]:
# create dummies for pitching team, batting team, pitcher id, batter id
dummies = pd.get_dummies(df['Marital.Status']).rename(columns=lambda x: 'Marital.Status_' + str(x))
# bring the dummies back into the original dataset
df = pd.concat([df, dummies], axis=1)
print(df)

    Undergrad Marital.Status  Taxable.Income  City.Population  \
0          NO         Single           68833            50047
1         YES       Divorced           33700           134075
2          NO        Married           36925           160205
3         YES         Single           50190           193264
4          NO        Married           81002            27533
..        ...            ...             ...              ...
595       YES       Divorced           76340            39492
596       YES       Divorced           69967            55369
597        NO       Divorced           47334           154058
598       YES        Married           98592           180083
599        NO       Divorced           96519           158137

     Work.Experience Urban  Marital.Status_Divorced  Marital.Status_Married  \
0                 10   YES                        0                       0
1                 18   YES                        1                       0
2                 30   YES                        0                       1
3                 15   YES                        0                       0
4                 28    NO                        0                       1
..               ...   ...                      ...                     ...
595                7   YES                        1                       0
596                2   YES                        1                       0
597                0   YES                        1                       0
598               17    NO                        0                       1
599               16    NO                        1                       0

     Marital.Status_Single
0                        1
1                        0
2                        0
3                        1
4                        0
..                     ...
595                      0
596                      0
597                      0
598                      0
599                      0

[600 rows x 9 columns]

In [34]:
# create dummies for pitching team, batting team, pitcher id, batter id
dummies = pd.get_dummies(df['Undergrad']).rename(columns=lambda x: 'Undergrad_' + str(x))
# bring the dummies back into the original dataset
df = pd.concat([df, dummies], axis=1)
print(df)

    Undergrad Marital.Status  Taxable.Income  City.Population  \
0          NO         Single           68833            50047
1         YES       Divorced           33700           134075
2          NO        Married           36925           160205
3         YES         Single           50190           193264
4          NO        Married           81002            27533
..        ...            ...             ...              ...
595       YES       Divorced           76340            39492
596       YES       Divorced           69967            55369
597        NO       Divorced           47334           154058
598       YES        Married           98592           180083
599        NO       Divorced           96519           158137

     Work.Experience Urban  Marital.Status_Divorced  Marital.Status_Married  \
0                 10   YES                        0                       0
1                 18   YES                        1                       0
2                 30   YES                        0                       1
3                 15   YES                        0                       0
4                 28    NO                        0                       1
..               ...   ...                      ...                     ...
595                7   YES                        1                       0
596                2   YES                        1                       0
597                0   YES                        1                       0
598               17    NO                        0                       1
599               16    NO                        1                       0

     Marital.Status_Single  Undergrad_NO  Undergrad_YES
0                        1             1              0
1                        0             0              1
2                        0             1              0
3                        1             0              1
4                        0             1              0
..                     ...           ...            ...
595                      0             0              1
596                      0             0              1
597                      0             1              0
598                      0             0              1
599                      0             1              0

[600 rows x 11 columns]

In [35]:
# create dummies for pitching team, batting team, pitcher id, batter id
dummies = pd.get_dummies(df['Urban']).rename(columns=lambda x: 'Urban_' + str(x))
# bring the dummies back into the original dataset
df = pd.concat([df, dummies], axis=1)
print(df)

    Undergrad Marital.Status  Taxable.Income  City.Population  \
0          NO         Single           68833            50047
1         YES       Divorced           33700           134075
2          NO        Married           36925           160205
3         YES         Single           50190           193264
4          NO        Married           81002            27533
..        ...            ...             ...              ...
595       YES       Divorced           76340            39492
596       YES       Divorced           69967            55369
597        NO       Divorced           47334           154058
598       YES        Married           98592           180083
599        NO       Divorced           96519           158137

     Work.Experience Urban  Marital.Status_Divorced  Marital.Status_Married  \
0                 10   YES                        0                       0
1                 18   YES                        1                       0
2                 30   YES                        0                       1
3                 15   YES                        0                       0
4                 28    NO                        0                       1
..               ...   ...                      ...                     ...
595                7   YES                        1                       0
596                2   YES                        1                       0
597                0   YES                        1                       0
598               17    NO                        0                       1
599               16    NO                        1                       0

     Marital.Status_Single  Undergrad_NO  Undergrad_YES  Urban_NO  Urban_YES
0                        1             1              0         0          1
1                        0             0              1         0          1
2                        0             1              0         0          1
3                        1             0              1         0          1
4                        0             1              0         1          0
..                     ...           ...            ...       ...        ...
595                      0             0              1         0          1
596                      0             0              1         0          1
597                      0             1              0         0          1
598                      0             0              1         1          0
599                      0             1              0         1          0

[600 rows x 13 columns]

In [36]:
df = df.drop('Undergrad', 1)

In [37]:
df = df.drop('Marital.Status', 1)

In [38]:
df = df.drop('Urban', 1)

In [39]:
row_indexes=df[df['Taxable.Income']>=30000].index

In [40]:
df.loc[row_indexes,'tax']="Good"

In [41]:
row_indexes=df[df['Taxable.Income']<30000].index

In [42]:
df.loc[row_indexes,'tax']="Risky"

In [43]:
df = df.drop('Taxable.Income', 1)

In [44]:
df.head()

,City.Population,Work.Experience,Marital.Status_Divorced,Marital.Status_Married,Marital.Status_Single,Undergrad_NO,Undergrad_YES,Urban_NO,Urban_YES,tax
0,50047,10,0,0,1,1,0,0,1,Good
1,134075,18,1,0,0,0,1,0,1,Good
2,160205,30,0,1,0,1,0,0,1,Good
3,193264,15,0,0,1,0,1,0,1,Good
4,27533,28,0,1,0,1,0,1,0,Good

In [45]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import BaggingClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import VotingClassifier

In [46]:
df_x = df.iloc[:,:9] #dividing the i/p and o/p variables
df_y = df.iloc[:,9]

In [47]:
x_train,x_test,y_train,y_test= train_test_split(df_x,df_y,test_size=0.2, random_state= 4) #dividing the data randomly
y_test.head()

405    Good
530    Good
306    Good
390    Good
146    Good
Name: tax, dtype: object

In [48]:
#decision tree
dt = DecisionTreeClassifier() #storing the classifer in dt

In [49]:
dt.fit(x_train,y_train) #fitting the model

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [50]:
dt.score(x_test,y_test) #checking the score like accuracy

0.6916666666666667

In [51]:
dt.score(x_train,y_train)

1.0

In [52]:
#Bagging - Gradient 
bg = BaggingClassifier(DecisionTreeClassifier(), max_samples=0.5,max_features=1.0, n_estimators=20)
bg.fit(x_train,y_train) #fitting the model

BaggingClassifier(base_estimator=DecisionTreeClassifier(class_weight=None,
                                                        criterion='gini',
                                                        max_depth=None,
                                                        max_features=None,
                                                        max_leaf_nodes=None,
                                                        min_impurity_decrease=0.0,
                                                        min_impurity_split=None,
                                                        min_samples_leaf=1,
                                                        min_samples_split=2,
                                                        min_weight_fraction_leaf=0.0,
                                                        presort=False,
                                                        random_state=None,
                                                        splitter='best'),
                  bootstrap=True, bootstrap_features=False, max_features=1.0,
                  max_samples=0.5, n_estimators=20, n_jobs=None,
                  oob_score=False, random_state=None, verbose=0,
                  warm_start=False)

In [53]:
bg.score(x_test,y_test) #test accuracy

0.7833333333333333

In [54]:
bg.score(x_train,y_train) #train accuracy

0.8770833333333333

In [55]:
#Ada boosting 
ada = AdaBoostClassifier(DecisionTreeClassifier(),n_estimators=10,learning_rate=1)
ada.fit(x_train,y_train)

AdaBoostClassifier(algorithm='SAMME.R',
                   base_estimator=DecisionTreeClassifier(class_weight=None,
                                                         criterion='gini',
                                                         max_depth=None,
                                                         max_features=None,
                                                         max_leaf_nodes=None,
                                                         min_impurity_decrease=0.0,
                                                         min_impurity_split=None,
                                                         min_samples_leaf=1,
                                                         min_samples_split=2,
                                                         min_weight_fraction_leaf=0.0,
                                                         presort=False,
                                                         random_state=None,
                                                         splitter='best'),
                   learning_rate=1, n_estimators=10, random_state=None)

In [56]:
ada.score(x_test,y_test)

0.7

In [57]:

ada.score(x_train,y_train)

1.0